.bg-nav {
    --bs-bg-opacity: 1;
    background-color: #001514 !important
}

body {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #FFA500 !important;	
    border: none;
}

.btn-primary:hover {
    background-color: #FF8C00 !important;	
}

h4 {
    font-family: 'Merryweather', serif;
    text-align: center;
    margin-bottom: 20px;
}

/*Mensaje*/
.messagePanel {
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
}

.success {
  border-color: green;
  color: green;
}

.error {
  border-color: red;
  color: red;
}

.warning {
  border-color: orange;
  color: orange;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scrollable-grid {
  width: 600px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.grid-view {
  width: 100%;
  table-layout: fixed;
}
